{% extends 'default.html.twig' %}


{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Gestión de médicos en Hospital josé Planes</h1>
            <div class="row form-check">
            {{ form(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}